<h1>Workout Added!</h1>

<h3>Workout Details</h3>

<p><strong>Day:</strong> Day <%= workout.Day %></p>

<p><strong>Timing:</strong> <%= workout.Timing %></p>

<p>
<strong>Muscle Groups:</strong>

<%= workout.MuscleGroups %>
</p>

<p><strong>Notes:</strong> <%= workout.Notes %></p>

<a href="/addworkout">Add Another Workout</a>

<a href="/editworkout">Edit Workout</a>